/* Reset the settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !important vai fazer sobrescrever qualquer estilo */

body {
    background: #E6ECF0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.app {
    width: 300px;
    padding: 20px;
}