/* `display: flex` to align them in a row on the container outside */
/* `flex-direction`: basically column or row // also the reverse */

html, body, #app {
    height: 100%;
    margin: 0;
}


#app {
    display: flex;
    flex-wrap: wrap; /* or wrap-reverse */

    align-items: center;
    justify-content: space-between;

    /* Align the itens between themselves */
    align-content: flex-end;
}
 

.box {
    width: 200px;
    height: 60px;
    background: #f00;
    margin: 5px;

}