/* `display: flex` to align them in a row on the container outside */
/* `flex-direction`: basically column or row // also the reverse */

html, body, #app {
    height: 100%;
    margin: 0;
}


#app {
    display: flex;
}
 

.box {
    width: 100px;
    height: 60px;
    background: #f00;
    margin: 5px;

    /* Resize (bigger) to fit the container */
    flex-grow: 1;
    /* Resize (smaller) to fit the container */
    flex-shrink: 0;
    /* instead you can just use `flex: 1 0` */
}